<div class="container mt-5">
  <div class="row align-items-center">
    <div class="col-12 col-md-6 text-center text-md-start mb-3 mb-md-0">
      <div class="text-success h5">
        Students Enrolled
        <img src="assets/dashboard.png" alt="dashboard" />
      </div>
    </div>
    <div class="col-12 col-md-6 text-center text-md-end">
      <input
        type="text"
        class="form-control search-bar with-icon"
        placeholder="Search"
        [(ngModel)]="searchQuery"
        (input)="filterStudents()"
      />
    </div>
  </div>
</div>


<div class="container mt-2 text-end">
  <mat-form-field appearance="fill" class="mt-2">
    <mat-select [(ngModel)]="filterDoneStatus" (selectionChange)="filterStudents()">
      <mat-option value="">All</mat-option>
      <mat-option value="done">Done</mat-option>
      <mat-option value="not done">Not Yet Done</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="students-container container" *ngIf="dataSource.data.length > 0">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="student_name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let student">
        <div class="student-info">
          <img [src]="getProfilePictureUrl(student)" alt="Profile Picture" class="student-profile" />
          <span>{{ student.student_name }}</span>
        </div>
      </td>
    </ng-container>

    <!-- Program, Year, Block Column -->
    <ng-container matColumnDef="program_year_block">
      <th mat-header-cell *matHeaderCellDef> Program - Year - Block </th>
      <td mat-cell *matCellDef="let student"> {{ student.program }} - {{ student.student_year }}{{ student.block }} </td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="school_id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let student"> {{ student.school_id }} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> View Submissions </th>
      <td mat-cell *matCellDef="let student">
        <button mat-icon-button (click)="openDialog(student)"><mat-icon>open_in_new</mat-icon></button>
      </td>
    </ng-container>

    <!-- Mark as Done Column -->
    <ng-container matColumnDef="mark_as_done">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let student">
        <button mat-raised-button color="primary" (click)="markAsDone(student)">
          {{ student.ojt_status === 'done' ? 'Undo' : 'Mark as Done' }}
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<!-- Display message and image when no records are found -->
<div class="container mt-5" *ngIf="dataSource.data.length === 0">
  <div class="row">
    <div class="col-12 text-center">
      <img width="48" height="48" src="https://img.icons8.com/pulsar-color/48/no-register.png" alt="no-register" />
      <div class="text-center text-danger">No Students Enrolled</div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <mat-paginator [length]="dataSource.data.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>