<nav class="navbar">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <div>
      <!-- Sidebar content wrapped in a div with a custom class -->
      <div class="persistent-sidebar custom-offcanvas-width" id="offcanvasNavbar">
        <div class="offcanvas-header d-flex flex-column align-items-center">
          <div class="container">
            <img src="assets/practiease.png" alt="">
          </div>
          <div class="text-center mb-0 h5">ICTe Solutions</div>
          <p class="text-center mb-0 h5">Student</p>
          <h5 class="offcanvas-title mx-auto" id="offcanvasNavbarLabel"></h5>
        </div>
        <hr class="hr" />
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-start flex-grow-1 ps-3">
            <li class="nav-list-item" [ngClass]="{ 'active': isActive('/dashboard') }">
              <i class="fa-solid fa-home" style="height: 50px"></i>
              <span>
                <a [routerLink]="['/student', 'dashboard']">Dashboard</a>
              </span>
            </li>
            <li class="nav-list-item" [ngClass]="{ 'active': isActive('/profile') }">
              <i class="fa-solid fa-user" style="height: 50px"></i>
              <span>
                <a [routerLink]="['/student', 'profile']">Profile</a>
              </span>
            </li>
            <li class="nav-list-item" [ngClass]="{ 'active': isActive('/requirements') }">
              <i class="fa-solid fa-clipboard-user" style="height: 50px"></i>
              <span>
                <a [routerLink]="['/student', 'requirements']">Requirements</a>
              </span>
            </li>
            <li class="nav-list-item" [ngClass]="{ 'active': isActive('/dtr') }">
              <i class="fa-solid fa-clock" style="height: 50px"></i>
              <span>
                <a [routerLink]="['/student', 'dtr']">DTR</a>
              </span>
            </li>
            <li class="nav-list-item" [ngClass]="{ 'active': isActive('/weekly-accomplishments') }">
              <i class="fa-solid fa-paperclip" style="height: 50px"></i>
              <span>
                <a [routerLink]="['/student', 'weekly-accomplishments']">Weekly Accomplishment</a>
              </span>
            </li>
            <li class="nav-list-item" [ngClass]="{ 'active': isActive('/proof-of-evidences') }">
              <i class="fa-solid fa-address-book" style="height: 50px"></i>
              <span>
                <a [routerLink]="['/student', 'proof-of-evidences']">Activities</a>
              </span>
            </li>
            <li class="nav-list-item" [ngClass]="{ 'active': isActive('/final-report') }">
              <i class="fa-solid fa-file-invoice" style="height: 50px"></i>
              <span>
                <a [routerLink]="['/student', 'final-report']">Final Report</a>
              </span>
            </li>
            <li class="nav-list-item" [ngClass]="{ 'active': isActive('/exit-poll') }">
              <i class="fa-solid fa-square-poll-horizontal" style="height: 50px"></i>
              <span>
                <a [routerLink]="['/student', 'exit-poll']">Exit Poll</a>
              </span>
            </li>
            <li class="nav-list-item" [ngClass]="{ 'active': isActive('/feedback') }">
              <i class="fa-solid fa-comment" style="height: 50px;"></i>
              <span>
                <a [routerLink]="['/student', 'feedback']">Feedback</a>
              </span>
            </li>
            <li class="nav-list-item">
              <i class="fa-solid fa-right-from-bracket"></i>
              <span>
                <button class="btn text-center" style="color: white;" (click)="logout()">
                  Sign Out
                </button>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <p class="title mt-2 h4" style="color: black;">PRACTIEASE</p>
    </div>
    <div class="d-flex align-items-center">
      <h4 class="ms-2 mb-0" style="color: black">{{ studentName ? studentName : 'Student' }}</h4>
    </div>
  </div>
</nav>