<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<div class="container mt-5">
  <div class="content mt-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-3 text-center ml-md-2">
        <img class="image" src="assets/gclogo.png" alt="Logo 1" />
      </div>
      <div class="col-md-3 text-center mb-3">
        <img id="slogo" src="assets/practiEaseLogo.png" alt="Logo 1" />
      </div>
      <div class="col-md-3 text-center mr-md-2">
        <img class="image" src="assets/ccsLogo.png" alt="Logo 1" />
      </div>
    </div>
  </div>

  <div class="content mt-3">
    <div class="row justify-content-center text-center">
      <h1 class="text-success mb-5">Welcome to PractiEase!</h1>
      <h3>Please select your role in your organization</h3>
      <div class="mt-3 mb-5">
        <a routerLink="/student-login" class="btn btn-outline-success mt-3"
          >Student</a
        >
        <a routerLink="/employer-login" class="btn btn-outline-success mt-3"
          >Employer</a
        >
        <a routerLink="/instructor-login" class="btn btn-outline-success mt-3"
          >Instructor</a
        >
      </div>
    </div>
  </div>
</div>
